.encabezado{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

.encabezado__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.encabezado__logo__busqueda{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.encabezado__logo__busqueda__barra{
    width: 0;
    padding: 0.8rem 1rem;
    color: #000;
    outline: none;
    font-size: 0.8rem;
    border: 1px solid silver;
    border-radius: 20px;
    transition: all 0.6s ease;
}

.encabezado__logo__busqueda__btn{
    display: flex;
    width: 50px;
    height: 50px;
    background: #2A7AE4;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    position: relative;
    right: 35px;
}

.encabezado__logo__busqueda:hover .encabezado__logo__busqueda__barra{
    width:70%;
}

.encabezado__logo__busqueda__barra:focus{
    width:70%;
}


.encabezado__boton{
    padding: 0.5rem;
    width: 200px;
    height: 50px;
    color:#2A7AE4;
    border: 1px solid #2A7AE4;
    border-radius: 30px;
}

.encabezado__boton:hover{
    color: #FFFFFF;
    background: #2A7AE4;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.encabezado__banner{
    background: linear-gradient(rgba(20,20,20,0.5),rgba(150,150,150,0.2)), url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    color: white;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.encabezado__banner__titulo{
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.79);
}

.encabezado__banner__texto{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.79);
}

.boton{
    background: #2A7AE4;
    padding: 0.7rem;
    width: 15%;
    color:#FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 6px 5px 13px -5px rgba(0,0,0,0.5);
}

.boton:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    cursor: pointer;
}
