.pie{
    display: flex;
    justify-content: space-between;
    background: #EAF2FD;
}

.pie__container{
    display: flex;
}

.pie__logo{
    margin-bottom: 1.5rem;
}

.pie__menu{
    display: flex;
    flex-direction: column;
}

.menu__item:hover{
    color: #2A7AE4;
    text-decoration: underline;
}

.pie__formulario, .pie__formulario__campo, .pie__formulario--area{
    display: flex;
    flex-direction: column;
}

.pie__formulario__titulo{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.pie__formulario--area{
    gap:1rem;
}

.pie__formulario__campo{
    padding: 0.7rem;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 2px #00000030;
    font-weight: 300;
    border-radius: 6px;
    box-sizing: border-box;
}

.pie__formulario__campo-label{
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.pie__formulario__campo__label{
  
   margin-bottom: 0.5rem;
}

.pie__formulario__campo__input{
    width:100%;
    outline:none;
    border: none;
    background: #FFFFFF;
    box-sizing: border-box;
}

.pie__formulario-boton{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem 0;
    gap: 1rem;
}

.pie__formulario__boton{
    padding: 0.5rem;
    height: 3rem;
    color:#FFFFFF;
    background: #2A7AE4;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 4px 2px #00000030;
}

.pie__formulario__boton:hover{
    font-size: 1.1rem;
    border: 1px solid #FFFFFF;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.pie__datosDev{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    justify-content: center;
    padding: 1.5rem 10%;
    gap: 1rem; 
}

.pie__datosDev__img{
    width:30px;
}

.pie__datosDev__datos{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.pie__datosDev__redes{
    margin-left: 1rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 350px){
    .pie{
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        gap:2rem;
    }

    .pie__container{
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .pie__menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .pie__formulario{
        align-items: center;
    }

    .pie__formulario--area{
        width:90%;
    }

    .pie__formulario__campo{
        width: 100%
    }

    .pie__formulario-boton{
        align-items: center;
    }

    .pie__formulario__boton{
        width: 100%;
    }

    .pie__datosDev__datos{
        font-size: 0.6rem;
        
    }
}

@media screen and (min-width: 768px){
    .pie{
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: row;
    }

    .pie__container{
        flex-direction: column;
        width: 35%;
        align-items: flex-start;
        text-align: left;
    }

    .pie__menu{
        gap:1.5rem;
    }

    .pie__formulario{
        width: 60%;
    }

    .pie__formulario-boton{
        align-items:flex-start;
    }

    .pie__formulario__boton{
        width: 40%;
    }

    .pie__datosDev__datos{
        font-size: 0.8rem;   
    }
}


@media screen and (min-width: 1024px){
    .pie{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .pie__container{
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
    }

    .pie__menu{
        width: auto;
        gap:2.5rem;

    }

    .pie__formulario{
        width: 50%;
    }
}
